
*{
	padding:0;
	margin:0;
	border: none;
}

html,body{
 height: 100%;
 width: 100%;
}

img{
	width: 100%;
}

h1{
	font-size: 4rem;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 700;
}

h2{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 2em;
}

h3{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1.5em;
}

p{
	font-family: 'Nanum Gothic', sans-serif;
	line-height: 30px;
}

/*-------------------  HEADER  --------------------*/

.hnav{
	width:100%;
	background: #162344;
	padding: 30px 0;
	position: fixed;
	z-index: 7;
}

nav{
	width:90%;
	margin:0 auto;
	text-align: right;
}


nav a{
	margin-right:50px;
	color: #f5f5f5;
	font-size: 15px;
	font-family: 'Nanum Gothic', sans-serif;
	transition: all .5s;
	transition: all 1s;
}

nav a:hover{
	color:#D4AF37;
	cursor: pointer;
}


.logo{
	float: left;
	text-decoration: none;
	font-size: 17px;

}

.logo span{
	color: #83a5fc;
}


.container{
	width:100%;
	height: 100%;
	display: grid;
}

.inner-container{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #021547;
	z-index: 2;
	opacity: .74;
}


.hero{
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(../images/bg.jpg)center;
	background-size: cover;
}

.hero-content{
	width: 100%;
	z-index:5;
	position: absolute;
	text-align: center;
	top: 35%;
	color:#f5f5f5;
}

.hero-content h2{
	font-style: italic;
	margin:25px 0px 8% 0;
	font-size: 25px;
	letter-spacing: 1.5px;
}

.logo-underline-container{
	width:40%;
	margin:25px auto;
}

.logo-underline{
	width:100%;
	height: 2px;
	background:#DAA520;
}


.hero-btn{
	font-family: 'Nanum Gothic', sans-serif;
	padding: 10px 30px;
	border: 1px solid #f5f5f5;
	color: #f5f5f5;
	text-decoration: none;
	letter-spacing: 2px;
	transition: all .5s;
}

.hero-btn:hover{
	background: #f5f5f5;
	color: #181818;
}



/*-------------------  HEADER END  --------------------*/

/*-----------------  ABOUT   ---------------*/


.about{
	width: 100%;
	height: 680px;
	text-align: center;
	color: #181818;
	background: #ffffff;
}

.inner-about{
	width:80%;
	margin:0 auto;
}

.about-title{
	padding:50px;
}

.about-content p{
	width: 70%;
	margin:0 auto;
	color: #181818;
}



#services{
  text-align: center;
	width: 80%;
	padding: 0px 10%;
	height: 350px;
}

.one-3 p{
	font-size: 1rem;
	font-style: italic;
	opacity: 0.7;
	color:#181818;
}

.one-3{
	color:#181818;
	line-height: 140%;
	width:26%;
	padding:40px 20px;
	float: left;
	text-align: center;
	font-size: 90%;
	margin:5% 1.5%;
	border: 1px solid #181818;
	border-radius: 25px;
	background: #ffffff;
}

#services-logo{
	color: #162344;
	font-size: 50px;
	opacity:.75;
	padding-bottom:20px;
}

.ourServices{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: #162344;
	color:#f5f5f5;
}

.ourServices h2{
	padding:80px 0px 20px 0px;
}

.ourServices h3{
	padding-bottom: 10px;
}

.skill-row{
	width:70%;
	margin:50px auto 50px auto;
	text-align: left;
	padding-bottom: 80px;
}

.about-txt{
	height:180px;
	padding-top:70px;
}

.design-img-left{
	width: 35%;
	float: left;
	margin-right: 30px;
}

.design-img-right{
	width: 35%;
	float: right;
	margin-left: 30px;
}

/*----------  ABOUT END  -------------*/




/*----------  Team  -------------*/


.team{
	width: 100%;
	height: 700px;
}


.team-inner{
	width: 80%;
	margin:0 auto;
}


.team-left-content{
	width:50%;
	float: left;
	z-index: 9;
}


.box-shadow{
	width:200px;
	height: 500px;
	background: #DAA520;
	position: absolute;
	left:15%;
	margin-top:-50px;
	z-index: -1;
}

.team-right-content{
	width: 40%;
	float: left;
	margin:2.5% 5%;

}

.team-inner h2{
	text-align: center;
	padding: 40px 0 10px 0 ;
}

.team-underline-container{
	width:15%;
	margin:10px auto 60px auto;
}

.team-underline{
	width:100%;
	height: 2px;
	background:#DAA520;
}


.btn-team{
	background: #f5f5f5;
	text-decoration: none;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 17px;
	font-weight: 700;
	padding: 10px 30px;
	transition: all .5s;
	color: #00386d;
	opacity: .8;
	position: relative;
	top:25px;
	border: 1px solid #181818;
}

.btn-team:hover{
	background: #0C2943;
	color: #f5f5f5;
	opacity: 1;
}

/*----------  Team END  -------------*/


/*---------- CONTACT FORM  -------------*/


.contact{
height: 100%;
width: 100%;
text-align: center;	
background: #162344;
color:#f5f5f5;

}

.contact h2{
	padding:70px 0 20px 0;
}

.form-style-9{
	width:70%;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 1px solid #305A72;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height:70px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 15px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}



/*----------  FORM END  -------------*/


/*----------  FOOTER  -------------*/


footer{
	text-align: center;
	padding: 20px 0px;
	margin-top: 1em;
}

footer p{
	margin:1em 0em 2em 0;
	opacity: .5;
}

 #social a{

  font-size: 40px;
  color: #181818;
  height: auto;
  padding: 0px 10px;

}


#social .fb:hover {
  color: #3b5998;
  border: 1px;

}


 #social .tw:hover {
  color:  #55acee;


}

 #social .ig:hover {
  color:  #e95950;

}

 #social .yt:hover {
  color:  #ff0000;

}



/*----------  FOOTER END  -------------*/


